* {
    background-color: darksalmon;
    font-family: Arial, Helvetica, sans-serif;
}
.backlink {
    color: #3490dc;
    text-decoration: underline;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 42px auto;
  }

h1{
    text-align: center;
    font-style: italic;
    color: aliceblue;
    font-size: 48px;
    margin-bottom: 64px;
}
h2{
    text-align: center;
    color: rgb(255, 214, 175);
    font-size: 36px; 
}

p{
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 800px;
    margin: auto;
}

img{
    border-radius: 12px;
    display: block;
    margin: auto;
    margin-bottom: 48px;
  }

a, ul, ol{
    color: beige;
    font-size: 32px;
    margin: auto;
    text-align: center;
    list-style: none;
}

li{
    padding: 8px;
}



